/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media (min-width: 1440px){
*{
  margin: 0;
}

body {
  font-family: Roboto;
}
.figma {
  width: 1440px;
  height: 1046px;
}
.basliq {
  width: 365px;
  height: 93px;
  margin: 8.6vh 66vw 1.7vh 8.6vw;
}
.basliq p {
  font-weight: 700;
  font-size: 55px;
}
.content {
  margin-left: 9.6vw;
      margin-right: 10vw;
      margin-top: 13vh; 
  margin: 0 13.1vw 8.9vh 8.6vw;
}
.content p {
  font-weight: 400;
  font-size: 24px;
}
img {
  width: 21.8vw;
  height: 30.1vh;
  margin-right: 10.4vw;
}
.producer img {
  width: 16vw;
  height: 19.4vh;
}
.producer {
  margin-left: 8.6vw;
  margin-bottom: 16.5vh;
}
.tablet {
  display: flex;
}
.kurs {
  display: flex;
  justify-content: center;
}
.p_ders1 {
  font-weight: 700;
  font-size: 25px;
  width: 18.6vw;
  height: 2.3vh;
  margin: 0;
}
.p_ders2 {
  width: 22.9vw;
  height: 2.3vh;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
.ders {
  margin-top: 6.6vh;
}
.vaxt {
  margin-top: 6.6vh;
}
.saat {
  margin-top: 6.6vh;
} 
}
@media screen and (min-width: 376px) and (max-width: 834px) {
  body {
    font-family: Roboto;
  }
  .producer {
    display: none;
  }
  .figma{
    display: flex;
    flex-wrap: wrap;
  }
/* @media screen and (min-width: 835px) and (max-width: 1440px) {
  body {
    font-family: Roboto;
  }
  .figma {
    width: 834px;
    height: 633px;
  }
  .producer {
    display: none;
  }
  .basliq {
    width: 211.4px;
    height: 53.86px;
    margin: 56px 550px 10.42px 72px;
  }
  .basliq p {
    font-weight: 700;
    font-size: 32px;
  }
  .content {
    width: 383.41px;
    height: 216.61px;
    margin: 0 110px 70.1px 72px;
  }
  .content p {
    font-weight: 400;
    font-size: 14px;
  }
  img {
    width: 21.8vw;
    height: 28.8vh;
  }
  .tablet {
    display: flex;
  }

  .kurs {
    margin-left: 72px;
    display: flex;
  }
  .ders {
    
    margin-right: 72px;
  }
  .vaxt {
    margin-left: 9.3vw;
  }

  .p_ders1 {
    font-weight: bold;
    font-size: 15px;
    width: 10.41vw;
    height: 3.6vh;
    margin: 0 0 5px 0;
  }
  .p_ders2 {
    width: 10.41vw;
    height: 3.6vh;
    font-weight: 400;
    font-size: 11px;
    margin: 0;
  }
}  */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@media (min-width : 375px) and (max-width: 830px) {

    .wrapper {
        display: flex;
        justify-content: center;
    }

    .container {
        /* Mobile */
        position: relative;
        font-family: 'Roboto';
        
        width: 375px;
        height: 776px;
        margin-left : 36px;
        margin-top : 56px;
        background: #FFFFFF; 
    }

    .header {
        width: 170px;
        height: 44px;
    }

    .header h1{
            /* О курсе */
        
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 102%;

        color: #000000;
    
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .main .main-info {
        width: 309px;
        height: 175px;
        margin-bottom: 60px;
    }

    .main .main-info p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;



        color: #000000;

    }

    .main-img .img {
        width: 172px;
        height: 162px;
   
        margin-left: 65px;

    }

    .footer {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-info {
        margin : 33px 40px 0 0;
    }

    .footer .footer-info h1{

        width: 70px;
        height: 18px;

        margin-bottom: -10px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 130%;


        color: #000000;

    }

    .footer .footer-info p {

        width: 86px;
        height: 18px;

        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 130%;


        color: #000000;

    }

    .footer-img {
        display: none;
    }
} 

@media (min-width: 830px) and (max-width : 1400px) {
    .wrapper {
        display: flex;
        justify-content: center;
    }

    .container {
        /* Tablet */
        position: relative;
        font-family: 'Roboto';
        width: 834px;
        height: 633px;
        margin-left : 72px;
        margin-top : 56px;
        background: #FFFFFF;
    }

    .header h1{
            /* О курсе */
        
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: bold;
        font-size: 4vw;
        line-height: 101.38%;
  
        color: #000000;
    
    }

    .main {
        display: flex;
    }

    .main .main-info {
        width: 40vw;
        height: 20px;
    }

    .main .main-info p {
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vw;
        line-height: 150%;

        color: #000000;

    }

    .main-img .img {
        width: 20vw;
        /* height: 25vh; */
  
        margin-left: 20px;
        margin-top: 15px;

    }

    .footer {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-info {
        margin : 70px 40px 0 0;
    }

    .footer .footer-info h1{

        /* width: 87px; */
        height: 23px;

        margin-bottom: -10px;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5vw;
        line-height: 130%;
   

        color: #000000;

    }

    .footer .footer-info p {

        /* width: 88px; */
        height: 23px;

        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        line-height: 130%;
   

        color: #000000;

    }

    .footer .footer-info .f-l-p{
        /* width: 110px; */
        height: 23px;
    }

    .footer-img {
        display: none;
    }
} 

@media  (min-width : 1400px){

    .wrapper {
        display: flex;
        justify-content: center;
    }
    
    .container {
        /* Desktop */
        position: relative;
        font-family: 'Roboto';
        width: 1440px;
        height: 1046px;
        margin-left : 124px;
        margin-top : 91px;
        background: #FFFFFF;        
    }

    .header {
        width: 365px;
        height: 93px;
    }

    .header h1{
            /* О курсе */
        
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 101.38%;
 
        color: #000000;
    
    }

    .main {
        display: flex;
        flex-wrap: wrap;
    }

    .main .main-info {
        width: 662px;
        height: 374px;
    }

    .main .main-info p {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        /* or 18px */


        color: #000000;

    }

    .main-img .img {
        width: 366px;
        height: 344px;
        /* Group 9 */
        margin-left: 164px;
        margin-top: 25px;

    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 94px;
    }

    .footer-info {
        margin: 70px 95px 0 0;
    }

    .footer .footer-info h1{

        width: 150px;
        height: 39px;

        margin-bottom: -10px;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 130%;

        color: #000000;

    }

    .footer .footer-info p {

        width: 150px;
        height: 39px;

        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;

        color: #000000;

    }

    .footer-img {
        width: 232px;
        height: 219px;
        margin-right: 132px;
    }

}